language: node_js
node_js:
  - '6'
# script: node_modules/karma/bin/karma start my.conf.js --single-run

before_script:
  - npm install
  - export CHROME_BIN=chromium-browser
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
env:
  - NODE_ENV="test"